
  /* .navbar {
    overflow: hidden;
    background-color: #E6E5E3; /*A5A5A5 OR 141414 OR BFBFBF
    position: fixed; 
    top: 0; 
    width: 800px; 
    text-align: center
   z-index: -5; 
}

.navbar a {
  display: inline-flex;
  justify-content: space-around;
  color: #141414; or #f2f2f2;
  padding: 10px 10px;
  text-decoration: none;
}

 .navbar-item:active,.navbar-item:hover {
  color:#aaa8a1;
 } */

